{{!< default}}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<main class="site-content" role="main">
{{!-- Floating header which appears on-scroll, included from includes/floating-header.hbs --}}
{{> floating-header}}

	<article class="{{post_class}}">

			{{! Add Open Graph tags to head}}
			{{#contentFor "meta"}}
				<meta property="og:description" content="{{excerpt characters="220"}}...">
			{{/contentFor}}

			{{! Everything below outputs content of the the post which has been published }}

			<header class="post-header">
				<h1 class="post-title">{{title}}</h1>
				<span class="post-meta">{{t "Posted on"}} <time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMMM YYYY'}}</time></span>
				{{#if feature_image}}<a href="{{url}}"><img class="post-image" src="{{feature_image}}"></a>{{/if}}
			</header>

			<section class="post-content">
				{{content}}
			</section>

			<footer class="post-footer">
				{{#primary_author}}
					<section class="author-card cf">
						{{#if profile_image}}
							<figure class="author-image">
								<a href="{{url}}"><img src="{{profile_image}}" alt="{{name}}'s Image"></a>
							</figure>
						{{/if}}
						<div class="author-meta" {{#if profile_image}}style="width: 65%; float: left;"{{/if}}>
							 {{#if name}}<a class="author-name" href="{{url}}">{{name}}</a>{{/if}}
							 {{#if website}}<a href="{{website}}" class="author-website" rel="author">{{t "Website"}}</a>{{/if}}
							 {{#if location}}<div class="author-location">{{location}}</div>{{/if}}
							 {{#if bio}}<p class="author-bio">{{{bio}}}</p>{{/if}}
						</div>
					</section>
				{{/primary_author}}

				{{#if tags}}
					<div class="post-tags">{{t "Tagged with"}}: {{tags separator=", "}}</div>
				{{/if}}
			</footer>
			<section class="pre-comment">
			<H2>Comments</H2>
				<blockquote><em>
					This comment system is self hosted using the <a href="https://coralproject.net/talk/">Mozilla Coral talk</a> platform, and not connected with any third parties who might collect data. At any time, you can completely delete all comments and data stored, including your email address. I will never send you emails aside from password reset emails you request.
				</em></blockquote>
			</section>
			<div id="coral_talk_stream"></div>
			<script src="https://comments.nullsweep.com/static/embed.js" async onload="
			  Coral.Talk.render(document.getElementById('coral_talk_stream'), {
			    talk: 'https://comments.nullsweep.com/'
			  });
			"></script>
	</article>

	<aside class="post-navigation cf">
		{{#next_post}}
			<div class="nav-next">
				<a href="{{url}}">{{title}}</a>
			</div>
		{{/next_post}}
		{{#prev_post}}
			<div class="nav-previous">
				<a href="{{url}}">{{title}}</a>
			</div>
		{{/prev_post}}
	</aside>

</main>

{{/post}}
{{#contentFor "scripts"}}
<script>

{{! Below pulled from Casper post.hbs }}

// NOTE: Scroll performance is poor in Safari
// - this appears to be due to the events firing much more slowly in Safari.
//   Dropping the scroll event and using only a raf loop results in smoother
//   scrolling but continuous processing even when not scrolling
$(document).ready(function () {

    var progressBar = document.querySelector('#reading-progress');
    var header = document.querySelector('.floating-header');
    var title = document.querySelector('.post-title');

    var lastScrollY = window.scrollY;
    var lastWindowHeight = window.innerHeight;
    var lastDocumentHeight = $(document).height();
    var ticking = false;

    function onScroll() {
        lastScrollY = window.scrollY;
        requestTick();
    }

    function onResize() {
        lastWindowHeight = window.innerHeight;
        lastDocumentHeight = $(document).height();
        requestTick();
    }

    function requestTick() {
        if (!ticking) {
            requestAnimationFrame(update);
        }
        ticking = true;
    }

    function update() {
        var trigger = title.getBoundingClientRect().top + window.scrollY;
        var triggerOffset = title.offsetHeight + 35;
        var progressMax = lastDocumentHeight - lastWindowHeight;

        // show/hide floating header
        if (lastScrollY >= trigger + triggerOffset) {
            header.classList.add('floating-active');
        } else {
            header.classList.remove('floating-active');
        }

        progressBar.setAttribute('max', progressMax);
        progressBar.setAttribute('value', lastScrollY);

        ticking = false;
    }

    window.addEventListener('scroll', onScroll, {passive: true});
    window.addEventListener('resize', onResize, false);

    update();

});
</script>
{{/contentFor}}
